*{
    margin : 0px;
    padding: 0px;
    box-sizing : border-box;
}

.grid{
    height: 100vh;
    display: grid;
    place-items: center;
}

table{
    border: 2px solid black;
    width: 250px;
    height: 150px;
    background-color: #EFEFEF;
    box-shadow: 2px 5px 10px rgba(0,0,0,0.5); 
}

table th{
    text-align: center;
}

